/* NORMALISE SYTLES START */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NORMALISE STYLES END */

dialog {
	padding: 40px;	
	text-align: center;
}


form {
	margin-top: 15%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

form > button {
	padding: 10px;
	width: max-content;
	align-self: center;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(78, 78, 78, 0.2)

  
}

div > label {
	margin-right: 10px;
}

::backdrop {
	background-color: rgb(0, 0, 0, 0.6);
}

html,
body {
  height: 100vh;
	width: 100vw;
}

.allcontainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
  background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header > h1 {
	font-size: 5em;
}

.gamespace {
  grid-area: 2 / 1 / 3 / 2;
  background-color:rgb(185, 185, 185, 0.427);
	display: flex;
	width: 100vw;
}

.leftside,
.rightside {
	width: 0;
	flex: 1 1 0;
	padding: 30px;
	font-size: 2em;
	overflow-wrap: break-word;
	text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightside > p:first-child,
.leftside > p:first-child {
  height: 250px;
  overflow: auto;
}

.rightside > p:last-child,
.leftside > p:last-child {
  background-color: white;
  color: rgb(20, 202, 0);
  padding: 10px 0;
  border-radius: 10px;
  margin: 0 35%;
}

.center {
	flex: 2 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gamestatus {
	min-height: 15%;
	max-height: 170px;
  display: flex;
  font-size: min(3cqb, 110px);
  overflow-wrap: break-word;
  max-width: 300px;
  overflow: auto;
  flex-shrink: 0;
  align-items: center;
}

.gamegrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 75%;
	height: 60%;
	max-width: 420px;
	max-height: 450px;
	min-width: 300px;
	min-height: 300px;
	border: 2px solid rgb(0, 0, 0, 0.498);
	border-radius: 10px;
  position: relative;
	
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
  font-size: min(12cqb, 110px);
	
}

.cell0,
.cell1 {
	border-right: 2px solid rgb(0, 0, 0, 0.498);
	border-bottom: 2px solid rgb(0, 0, 0, 0.498);
}

.cell2,
.cell5 {
	border-bottom: 2px solid rgb(0, 0, 0, 0.498);
}

.cell3,
.cell4 {
	border-right: 2px solid rgb(0, 0, 0, 0.498);
	border-bottom: 2px solid rgb(0, 0, 0, 0.498);
}

.cell6,
.cell7 {
	border-right: 2px solid rgb(0, 0, 0, 0.498);
}

.center > button {
  margin-top: 50px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

form > button:hover, 
.center > button:hover {
  box-shadow: inset 0px 0px 10px -4px black;
  transition: box-shadow 200ms;
  cursor: pointer;
}